<!DOCTYPE html>
<html>

<head>
	<title>软件测试</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/foundation.min.css">
	<script src="../static/js/foundation.min.js"></script>
	<script src="../static/js/vendor/modernizr.js"></script>
	<script src="../static/js/vendor/jquery.js"></script>
	<script src="../static/js/highcharts.src.js"></script>

	<script>
        $(document).ready(function () {
            var chart = {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            };
            var title = {
                text: '三角形用例测试分析 \n <b>total: {{ total }}</b>'
            };
            var tooltip = {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            };
            var plotOptions = {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            };
            var series = [{
                type: 'pie',
                name: 'percentage',
                data: [

                    {
                        name: '三角形 <b>{{ isTriPer }}</b>',
                        y: {{ isTriPer }},
                        sliced: true,
                        selected: true
                    },
                    ['输入错误 <b>{{ wrongInputPer }}</b>', {{ wrongInputPer }}],
                    ['非三角形 <b>{{ isNotTriPer }}</b>', {{ isNotTriPer }}]
                ]
            }];

            var json = {};
            json.chart = chart;
            json.title = title;
            json.tooltip = tooltip;
            json.series = series;
            json.plotOptions = plotOptions;
            $('#container').highcharts(json);
        });
	</script>

</head>

<body>
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1 style="font-family:Monospace;font-size:1.2em;"><a href="#">S O F T W A R E - T E S T I N G</a></h1>
		</li>
		<!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。
  如果需要只显示图片，可以删除 "Menu" 文本 -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>TEST</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="active"><a href="">三 角 形</a></li>
			<li class="divider"></li>
			<li><a href="calendar.html">下 一 日 期</a></li>
			<li class="divider"></li>
			<li><a href="#">推 销 员</a></li>
			<li class="divider"></li>
			<li><a href="#">。。。</a></li>
			<li class="divider"></li>
		</ul>
	</section>
</nav>

<div class="row" style="max-width:100rem; margin-top: 30px;">
	<div class="large-7 columns" style="border-right:dotted; border-color: #008CBA;border-width: 1px">
		<h3>测 试</h3>
		<ul class="side-nav">
			<li class="divider"></li>
		</ul>

		<fieldset>
			<legend>Triangles Testing</legend>
			<div class="row">
				<form action="/triangle/" method="post">
					{% csrf_token %}
					<div class="large-9 columns">
						<input type="text" name="filePath">
					</div>
					<div class="large-3 columns">
						<input type="submit" class="button postfix "
						       style="width: 70%; margin-left: 15%; border-radius: 5px;">
					</div>
				</form>
			</div>

			<ul class="side-nav">
				<li class="divider"></li>
			</ul>

			<div class="responsive">
				{% load mytags %}
				{% load mytags2 %}
				<table>
					<thead>
					<tr>
						<th>输入（a，b，c）</th>
						<th>预期输出</th>
						<th>实际输出</th>
					</tr>
					</thead>

					<tbody>
					{% for i in sideLst %}
						<tr>
							<td>{{ i }}</td>
							<td>{{ expectLst|qwer1 }}</td>
							<td>{{ resultLst|qwer2 }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>

	<div class="large-5 columns">
		<h3>分 析</h3>
		<ul class="side-nav">
			<li class="divider"></li>
		</ul>

		<div id="container" style="width: 500px; height: 400px; margin: 0 auto"></div>
	</div>
</div>


<script>
    $(document).ready(function () {
        $(document).foundation();
    })

</script>


</body>

</html>
